In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory
import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [ ]:
# Gyanesh
# Load the datasets
import pandas as pd

file_name = "/kaggle/input/amazon-us-customer-reviews-dataset/amazon_reviews_us_Electronics_v1_00.tsv"

# Use on_bad_lines parameter to skip problematic rows
df = pd.read_csv(file_name, 
                 sep='\t', 
                 on_bad_lines='skip')

In [4]:
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3091024 entries, 0 to 3091023
Data columns (total 15 columns):
 #   Column             Dtype
---  ------             -----
 0   marketplace        object
 1   customer_id        int64
 2   review_id          object
 3   product_id         object
 4   product_parent     int64
 5   product_title      object
 6   product_category   object
 7   star_rating        int64
 8   helpful_votes      int64
 9   total_votes        int64
 10  vine               object
 11  verified_purchase  object
 12  review_headline    object
 13  review_body        object
 14  review_date        object
dtypes: int64(5), object(10)
memory usage: 353.7+ MB

,marketplace,customer_id,review_id,product_id,product_parent,product_title,product_category,star_rating,helpful_votes,total_votes,vine,verified_purchase,review_headline,review_body,review_date
0,US,41409413,R2MTG1GCZLR2DK,B00428R89M,112201306,yoomall 5M Antenna WIFI RP-SMA Female to Male ...,Electronics,5,0,0,N,Y,Five Stars,As described.,2015-08-31
1,US,49668221,R2HBOEM8LE9928,B000068O48,734576678,"Hosa GPM-103 3.5mm TRS to 1/4"" TRS Adaptor",Electronics,5,0,0,N,Y,It works as advertising.,It works as advertising.,2015-08-31
2,US,12338275,R1P4RW1R9FDPEE,B000GGKOG8,614448099,Channel Master Titan 2 Antenna Preamplifier,Electronics,5,1,1,N,Y,Five Stars,Works pissa,2015-08-31
3,US,38487968,R1EBPM82ENI67M,B000NU4OTA,72265257,LIMTECH Wall charger + USB Hotsync & Charging ...,Electronics,1,0,0,N,Y,One Star,Did not work at all.,2015-08-31
4,US,23732619,R372S58V6D11AT,B00JOQIO6S,308169188,Skullcandy Air Raid Portable Bluetooth Speaker,Electronics,5,1,1,N,Y,Overall pleased with the item,Works well. Bass is somewhat lacking but is pr...,2015-08-31

In [ ]:
# Load the twitter data

twitter_df = pd.read_csv('/kaggle/input/sentiment140/training.1600000.processed.noemoticon.csv', encoding='latin-1')
twitter_df.columns = ['target', 'id', 'date', 'flag', 'user', 'text']

In [2]:
twitter_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599999 entries, 0 to 1599998
Data columns (total 6 columns):
 #   Column  Non-Null Count    Dtype
---  ------  --------------    -----
 0   target  1599999 non-null  int64
 1   id      1599999 non-null  int64
 2   date    1599999 non-null  object
 3   flag    1599999 non-null  object
 4   user    1599999 non-null  object
 5   text    1599999 non-null  object
dtypes: int64(2), object(4)
memory usage: 73.2+ MB

In [19]:
# List of keywords related to electronics
electronics_keywords = [
    'phone', 'laptop', 'computer', 'tablet', 'smartphone', 
    'tv', 'television', 'headphone', 'camera', 'console',
    'playstation', 'xbox', 'nintendo', 'apple', 'samsung',
    'dell', 'hp', 'lenovo', 'sony', 'electronic','review','product', 'headphone', 'electronic', 'ipad'
]

In [20]:
# Example: Pre-filter tweets with more than 5 words (optional)
twitter_df = twitter_df[twitter_df['text'].str.split().str.len() > 5]

# Apply filtering in chunks (if dataset is large)
chunk_size = 100000  # Adjust based on memory capacity
filtered_chunks = []

for start in range(0, len(twitter_df), chunk_size):
    chunk = twitter_df.iloc[start:start + chunk_size]
    filtered_chunk = chunk[chunk['text'].str.contains('|'.join(electronics_keywords), case=False, na=False)]
    filtered_chunks.append(filtered_chunk)

# Combine all filtered chunks
filtered_tweets = pd.concat(filtered_chunks, ignore_index=True)
filtered_tweets.head()

,target,id,date,flag,user,text
0,0,1467824199,Mon Apr 06 22:23:15 PDT 2009,NO_QUERY,adri_mane,@Starrbby too bad I won't be around I lost my ...
1,0,1467833672,Mon Apr 06 22:25:44 PDT 2009,NO_QUERY,iv3tte,No picnic my phone smells like citrus.
2,0,1467837602,Mon Apr 06 22:26:45 PDT 2009,NO_QUERY,GetGary,"@paradisej cool, i will. their are all kinds o..."
3,0,1467871661,Mon Apr 06 22:35:41 PDT 2009,NO_QUERY,ciairuhh,"I miss you twitter. My phone broke, now I'm us..."
4,0,1467875163,Mon Apr 06 22:36:38 PDT 2009,NO_QUERY,saraguilford12,"feeling lost, naked and confused (JK, sort of)..."

In [21]:
filtered_tweets.tail()

,target,id,date,flag,user,text
56458,4,2193552007,Tue Jun 16 08:36:44 PDT 2009,NO_QUERY,Bellaleyla,"@Sky_1995 sorryyy. i gotta go now, my mom want..."
56459,4,2193552422,Tue Jun 16 08:36:46 PDT 2009,NO_QUERY,fosking,want FREE Apple products? iPhone 3G S macbook ...
56460,4,2193552895,Tue Jun 16 08:36:49 PDT 2009,NO_QUERY,Laurendaly,"has a day long date with God today, no phones ..."
56461,4,2193554543,Tue Jun 16 08:36:57 PDT 2009,NO_QUERY,Lena_Bjorna,@BizReviewer thanks so much for that acknowled...
56462,4,2193577941,Tue Jun 16 08:38:53 PDT 2009,NO_QUERY,lexi234,got home an hour ago ate lunch watched some tv...

In [ ]:
# Pre process and handle null values in the dataset

In [ ]:
# Filter the dataset and join them for 2008

In [ ]:
# Conduct EDA for the data showing graphs and trends